In [ ]:
import pandas as pd

<b> This next cell for reding te different data </b><br>
1. Data will carry the Data for the user, the user_id and the item_id he/she rated and the rating value<br>
2. Items will carry the different information about the different movies<br>
3.Users will carry the different info about each user<br>

In [282]:
Data = pd.read_csv('ml-100k/u.data',sep='\t',header = None,names =['user_id','item_id','rating','timestamp'] )
Data.head()

items = pd.read_csv("ml-100k/u.item", sep="|", encoding="iso-8859-1", header =None, names =['item_id','movie_title','release_date', 'video_release_date',
              'IMDb_URL', 'unknown','Action','Adventure','Animation',
              'Childrens','Comedy','Crime','Documentary', 'Drama','Fantasy',
              'Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi',
              'Thriller' , 'War' , 'Western'])
items.head()

users = pd.read_csv('ml-100k/u.user',sep='|',header = None,names =['user_id','age','gender','occupation','zip_code'])
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [283]:
items.head()

,item_id,movie_title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Childrens,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [284]:
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

<b> Exercise 1 part 1 "Showcase how the ratings vary across users" </b><br>
1. First thing that i made is to count that number of times each  user has rated a movie and normalize them
and save it num_ratings_per_user, the values are saved in variable num_ratings_per_user and printed under next cell.<br>
1-cont. This helps us see the percentage that every user contrbuites in the rating<br>
2. got the number of users who did a rating of anykind and printed it<br>
3. got the number of users who did not do a rating of anykind and printed it<br>

In [285]:
print("The normalized value the number of ratings per user")
num_ratings_per_user = Data['user_id'].value_counts(normalize=True)
print(num_ratings_per_user)

print ('-----------------------------')

print ("The number of users who did a rating is = ", len(num_ratings_per_user))
users_in_ratings  = Data['user_id']
all_users= users['user_id']
print("The total number os users is = ", len(all_users))
print('--------------------------------')
users_no_rating = all_users[~all_users.isin(users_in_ratings)] 
print("Users who didn't rate at all", len(users_no_rating))

The normalized value the number of ratings per user
405    0.00737
655    0.00685
13     0.00636
450    0.00540
276    0.00518
        ...
147    0.00020
19     0.00020
572    0.00020
636    0.00020
895    0.00020
Name: user_id, Length: 943, dtype: float64
-----------------------------
The number of users who did a rating is =  943
The total number os users is =  943
--------------------------------
Users who didn't rate at all 0

<b>Exercise 1 part 2 "Showcase how the ratings vary across items."</b><br>
1.To solve this part i merged twqo dataframes, the data of the items on the condition they have same item_id.<br>
2.I did that so that i will have the movie_name <br>
3. I will then group by the movie_title and get the mean of rating for every movie<br> 
4. And also the standard deviation of the rating for every movie

data_movie_rating_added = pd.merge(Data,items[['item_id','movie_title']], on="item_id")
data_movie_rating_added.head()

In [280]:
print("The mean of ratings for every movie is :")
data_movie_rating_added.groupby('movie_title')['rating'].mean()

The mean of ratings for every movie is :

movie_title
'Til There Was You (1997)                2.333333
1-900 (1994)                             2.600000
101 Dalmatians (1996)                    2.908257
12 Angry Men (1957)                      4.344000
187 (1997)                               3.024390
                                           ...
Young Guns II (1990)                     2.772727
Young Poisoner's Handbook, The (1995)    3.341463
Zeus and Roxanne (1997)                  2.166667
unknown                                  3.444444
Á köldum klaka (Cold Fever) (1994)       3.000000
Name: rating, Length: 1664, dtype: float64

In [281]:
print(" The standard deviation of the Ratings  movie items ")
data_movie_rating_added.groupby('movie_title')['rating'].std()

 The standard deviation of the Ratings  movie items

movie_title
'Til There Was You (1997)                1.000000
1-900 (1994)                             1.516575
101 Dalmatians (1996)                    1.076184
12 Angry Men (1957)                      0.719588
187 (1997)                               1.172344
                                           ...
Young Guns II (1990)                     1.008421
Young Poisoner's Handbook, The (1995)    1.237129
Zeus and Roxanne (1997)                  0.983192
unknown                                  1.130388
Á köldum klaka (Cold Fever) (1994)            NaN
Name: rating, Length: 1664, dtype: float64

<b> Exercise 1 part 3 </b><br>
1. i made a list having all the possible genres<br>
2. i then looped over the values every time geting the movie_id with that specfic genre<br>
3. the result that now for every genre i have all the movies that can be catogrixed into it<br>
4. i then looped over the dictionary holding the genre and the movies corresponding to it and got the mean of the rating of movies for every genre
you will find everything printed under the next cells<br>

In [ ]:
#unknown = items[items['unknown']==1]['item_id']
genres = ['unknown','Action','Adventure','Animation',
              'Childrens','Comedy','Crime','Documentary', 'Drama','Fantasy',
              'Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi',
              'Thriller' , 'War' , 'Western']
genre_dic ={}

In [286]:
def get_ids_genres(x):
    values= items[items[x]==1]['item_id'].values
    genre_dic[x] = values
for genre in genres :
    get_ids_genres(genre)
    
        #gapminder.year.isin(years)
for genre in genre_dic:
    item_id =  genre_dic[genre]
    mean_rating = data_movie_rating_added[data_movie_rating_added['item_id'].isin(item_id)]['rating'].mean()
    
    
    print("The mean of rating of genre is {}, the mean_rating is: {}  ".format(genre,mean_rating))

The mean of rating of genre is unknown, the mean_rating is: 3.2
The mean of rating of genre is Action, the mean_rating is: 3.480245417953027
The mean of rating of genre is Adventure, the mean_rating is: 3.503526503308369
The mean of rating of genre is Animation, the mean_rating is: 3.5766990291262135
The mean of rating of genre is Childrens, the mean_rating is: 3.3532442216652742
The mean of rating of genre is Comedy, the mean_rating is: 3.3940734781442745
The mean of rating of genre is Crime, the mean_rating is: 3.6322780881440098
The mean of rating of genre is Documentary, the mean_rating is: 3.6728232189973613
The mean of rating of genre is Drama, the mean_rating is: 3.6873793708484772
The mean of rating of genre is Fantasy, the mean_rating is: 3.2152366863905324
The mean of rating of genre is Film-Noir, the mean_rating is: 3.9215233698788228
The mean of rating of genre is Horror, the mean_rating is: 3.2903893172841827
The mean of rating of genre is Musical, the mean_rating is: 3.521396851029471
The mean of rating of genre is Mystery, the mean_rating is: 3.63813155386082
The mean of rating of genre is Romance, the mean_rating is: 3.621704948358255
The mean of rating of genre is Sci-Fi, the mean_rating is: 3.5607227022780834
The mean of rating of genre is Thriller, the mean_rating is: 3.5090069495245064
The mean of rating of genre is War, the mean_rating is: 3.815811874866993
The mean of rating of genre is Western, the mean_rating is: 3.6132686084142396

<b> Exericise 1 part 4 <b><br>
1. i added another column in dataframe users 'age_bins' to categorize the age in the correct group pf every user<br>
2. didn't have time to do the next steps right but i'll explain them <br>
3. get the movies_ids corresponding to every age_bin<br>
4. for every movie_id in them get the genres and keep count<br>
5. after finishing looping for a specfic age_bin get the max count corresponding to the best genre<br>

In [ ]:
users['age_bins'] = pd.cut(x=users['age'], bins=[1,10,19, 29, 39, 49,59,69,79],labels=['less_than_10','10s','20s', '30s', '40s','50s','60s','70s'])
users.groupby('age_bins')['age_bins'].count()

In [182]:
users.head()

   user_id  age gender  occupation zip_code age_bins
0        1   24      M  technician    85711      20s
1        2   53      F       other    94043      50s
2        3   23      M      writer    32067      20s
3        4   24      M  technician    43537      20s
4        5   33      F       other    15213      30s

In [205]:
age_bin_ids = {}
user_id_per_bin = ''
#print(users['user_id'])
#print(Data['user_id'])

Data_age_bins_Added =pd.merge(Data,users[['age_bins','user_id']] ,on = "user_id")
#Data_age_bins_Added.head()
Data_age_bins_Added.groupby('age_bins')['item_id','user_id']

user_ids_twentys = age_bin_ids['20s']
movie_ids= Data[Data['user_id'].isin(user_ids_twentys)]['item_id'].unique()
items['genre'] = ""
for genre in genre_dic:
    for item_id in genre_dic[genre]:
        items.loc[items.item_id == item_id,'genre'] = genre 
        
for age_bin in age_bin_ids:
    user_ids = age_bin_ids[age_bin]
    movie_ids= Data[Data['user_id'].isin(user_ids)]['item_id'].unique()
    most_loved_genre = items[items['item_id'].isin(movie_ids)].groupby("genre")["genre"].count().max(level=0)
    print("the most loved genre by group {} is {}".format(age_bin,most_loved_genre) )



#print(users[users['user_id'] == 196])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

<b> Exercise_2 <b><br>
1. i implmented the algorthim mentioned in the slides<br>
2. it takes as an in input the Data, the learning_rate the reg_constant and the latent_dimensions<br>
3. first of all it initalizes ratings_matrix to be zeroes and only fill the cells in which we have an actual rating
we get the actual rating FROM the data.<br>
Notice that we use user_id -1 and item_id -1 becauses users start from 1 and index start from 0 <br>
4. we inialize P and Q with p number of rows is the number of rows of data and Q number of rows as columns of Data<br>
5. we then loop as algorthim says and get the diff and update the values of correspoding p and q<br>
6. return the prediction

In [267]:
def LearnLatentFactors(Data,alpha,lamb,k):
    ratings_matrix = np.zeros((len(all_users),len(items['item_id'].values)) ) 
    for ind in Data.index: 
         ratings_matrix[int(Data['user_id'][ind])-1][int(Data['item_id'][ind])-1]= Data['rating'][ind]
    
    latent_dimensions = k
    mu = 0
    sigma = 1
    P = np.random.normal(mu, sigma, (ratings_matrix.shape[0],k))
    Q = np.random.normal(mu, sigma, (ratings_matrix.shape[1],k))
    N = len(ratings_matrix)
    M = len(ratings_matrix[0])
  #print('u is{},p is {},k is {}'.format(u,i,k))
    for x in range(3):
        for u in range(N):
            i = 0
            R_hat = P@Q.T
            for i in range (M):
                diff = ratings_matrix[u,i]- np.dot(P[u,:],Q.T[:,i])
                #print ('diff is ', diff )
                k =0
                for k in range (latent_dimensions):
                    #diff = Data[u][i]- np.dot(P[u,:],Q[:,i])
                    #print("byd5ol gowa el k")
                    #print ('diff is',diff )
                    P[u][k] = P[u][k] + alpha*(diff*Q[i][k] - lamb*(P[u][k]))
                    Q[i][k] = Q[i][k] + alpha*(diff*P[u][k] - lamb*(Q[i][k]))
        
        #print(error)
    #if(error < 1000):
        #break;
    #print( P@Q.T)
    
    return R_hat

<b> In the next cell<b><br>
1. will call the method by the following values<br>
2. the correct way was to try different values but i ran out of time, and i did that in the next question<br>
3. now we have the prediction saved in vairable prediction<br>

In [ ]:
prediction = LearnLatentFactors(Data,0.001,0.1,3)

<b> the next method is for testing<b><br>
1. we loop over the test_files every time we take a test file and get the difference between our prediction and theactual rating value in the test file <br>
2. we calculate the error for every test_file and save it in an error_dic<b>
3. you will find printed under the next cell the error for every test_file and the then the final RMSE Error

In [277]:

def test_fact_marix(prediction):
    
    error_dic ={}
    for  i in range(1,6):
        file = ""
        if i == 1:
            file = 'ml-100k/u1.test'
        if i == 2:
            file = 'ml-100k/u2.test'
        if i ==3:
            file = 'ml-100k/u3.test'
        if i==4:
            file = 'ml-100k/u4.test'
        if i ==5:
            file = 'ml-100k/u5.test'
        Test = pd.read_csv(file,sep='\t',header = None,names =['user_id','item_id','rating','timestamp'] )
        count = 0 
        error = 0
        for index, row in Test.iterrows():
            predicted_rating = prediction[row['user_id']-1][row['item_id']-1]
            Actual_rating =   row['rating']
            error = error + (predicted_rating - Actual_rating)**2
            count = count +1
        error = np.sqrt(error/count)
        error_dic[i] = error  
        print("error for Test_file {} is{}".format(i,error) )
    Total_error = 0
    for key,value in error_dic.items():
        Total_error = Total_error + error_dic[key]
    print("The RMSE test_error is{}".format(Total_error/5) )    
        

test_fact_marix(prediction)

error for Test_file 1 is3.7173722221085663
error for Test_file 2 is3.717699907183938
error for Test_file 3 is3.693623169083445
error for Test_file 4 is3.6910773804691686
error for Test_file 5 is3.69447746215319
The RMSE test_error is3.7028500281996615

In [ ]:
import numpy as np
ratings_matrix = np.zeros((len(all_users),len(items['item_id'].values)) ) 
for ind in Data.index: 
     ratings_matrix[int(Data['user_id'][ind])-1][int(Data['item_id'][ind])-1]= Data['rating'][ind]

<b> Exercise 3 <b><br>
1. This method uses The NMF of the sklearn for factorization<br>
2. it takes the train_index and the test_index the shuffle and the alpha<br>
3. starting inirtalize the training_matrix to be xeroes and oly fill the one in the train_index by getting its
values from the ratig_matrix<br>
4. using the NMF model we get the original matrix and factorize them to  2 matrices and we use them to get the prediction matrix<br>
5. we then loop over the test_index which is for validation and get the error and return the error and the prediction model<br>

In [230]:
from sklearn.decomposition import NMF
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
from math import sqrt
paramters_dic = {}


def Recommender_Systems (train_index,test_index,alpha,init,shuffle):
    model = NMF(n_components=2, init=init, random_state=3116,shuffle = shuffle, alpha = alpha)
    # make the ratings_matrix with the original dimensions and only fill the one with train_indicies
    training_matrix = np.zeros((len(all_users),len(items['item_id'].values)) )
    # fill the values from ratings_matrix 
    training_matrix[train_index] = ratings_matrix[train_index]
    
    P = model.fit_transform(training_matrix)
    Q_transpose = model.components_
    prediction = P@Q_transpose
   
    count = 0
    error = 0
    for x in range(0, len(test_index)):
            diff  = np.sum(np.abs(prediction[x] - ratings_matrix[x] ))  
            count = count + len(prediction[x])
            error = error + diff
    paramters_dic[str(alpha)+'_'+str(shuffle)+'_'+init] = error/count        
    print("This is the validation error{} where paramters is alpha ={}, shuffle ={}, init = {}".format(error/count,alpha,init,shuffle))
    return  (error/count), prediction

<b> In the next method we usse paramter space to get the best prediction that will correspond to
smallest validation error<br>
1. we call the method for every set of paramters and save it in the dictionary and print it also, u'll find it
behind the next cell

In [231]:

def calling_system():
    error = 100
    paramter_space = {
    'alpha':[0.001,0.01,1],
    'shuffle':[True,False],
    'init':['random', 'nndsvd', 'nndsvda'] 
     }
    dic_prediction = {}
    fold = KFold(n_splits = 3)
    for train_index, test_index in fold.split(ratings_matrix):
         for i in paramter_space['alpha']:
                    for k in paramter_space['init']:
                        for x in paramter_space['shuffle']: 
                            result = Recommender_Systems(train_index,test_index,  i,  k,x )
                            dic_prediction[result[0]] = result[1] 
    
    
    return dic_prediction

dic_prediction = calling_system()

This is the validation error0.22896211992525906 where paramters is alpha =0.001, shuffle =random, init = True
This is the validation error0.22896211992525906 where paramters is alpha =0.001, shuffle =random, init = False
This is the validation error0.22896211992525906 where paramters is alpha =0.001, shuffle =nndsvd, init = True
This is the validation error0.22896211992525906 where paramters is alpha =0.001, shuffle =nndsvd, init = False
This is the validation error0.22896211992525906 where paramters is alpha =0.001, shuffle =nndsvda, init = True
This is the validation error0.22896211992525906 where paramters is alpha =0.001, shuffle =nndsvda, init = False
This is the validation error0.22896211992525906 where paramters is alpha =0.01, shuffle =random, init = True
This is the validation error0.22896211992525906 where paramters is alpha =0.01, shuffle =random, init = False
This is the validation error0.22896211992525906 where paramters is alpha =0.01, shuffle =nndsvd, init = True
This is the validation error0.22896211992525906 where paramters is alpha =0.01, shuffle =nndsvd, init = False
This is the validation error0.22896211992525906 where paramters is alpha =0.01, shuffle =nndsvda, init = True
This is the validation error0.22896211992525906 where paramters is alpha =0.01, shuffle =nndsvda, init = False
This is the validation error0.22896211992525906 where paramters is alpha =1, shuffle =random, init = True
This is the validation error0.22896211992525906 where paramters is alpha =1, shuffle =random, init = False
This is the validation error0.22896211992525906 where paramters is alpha =1, shuffle =nndsvd, init = True
This is the validation error0.22896211992525906 where paramters is alpha =1, shuffle =nndsvd, init = False
This is the validation error0.22896211992525906 where paramters is alpha =1, shuffle =nndsvda, init = True
This is the validation error0.22896211992525906 where paramters is alpha =1, shuffle =nndsvda, init = False
This is the validation error0.3150836354764364 where paramters is alpha =0.001, shuffle =random, init = True
This is the validation error0.315083245002926 where paramters is alpha =0.001, shuffle =random, init = False
This is the validation error0.31508392474471475 where paramters is alpha =0.001, shuffle =nndsvd, init = True
This is the validation error0.3150838495731027 where paramters is alpha =0.001, shuffle =nndsvd, init = False
This is the validation error0.31508380917445183 where paramters is alpha =0.001, shuffle =nndsvda, init = True
This is the validation error0.31508360382300893 where paramters is alpha =0.001, shuffle =nndsvda, init = False
This is the validation error0.31508182885701785 where paramters is alpha =0.01, shuffle =random, init = True
This is the validation error0.31508132571697894 where paramters is alpha =0.01, shuffle =random, init = False
This is the validation error0.31508141989733596 where paramters is alpha =0.01, shuffle =nndsvd, init = True
This is the validation error0.3150822338381207 where paramters is alpha =0.01, shuffle =nndsvd, init = False
This is the validation error0.31508039055184356 where paramters is alpha =0.01, shuffle =nndsvda, init = True
This is the validation error0.31508159654967743 where paramters is alpha =0.01, shuffle =nndsvda, init = False
This is the validation error0.31487615204923863 where paramters is alpha =1, shuffle =random, init = True
This is the validation error0.3148716329718375 where paramters is alpha =1, shuffle =random, init = False
This is the validation error0.3148740676860291 where paramters is alpha =1, shuffle =nndsvd, init = True
This is the validation error0.31487644618727245 where paramters is alpha =1, shuffle =nndsvd, init = False
This is the validation error0.31486980016713245 where paramters is alpha =1, shuffle =nndsvda, init = True
This is the validation error0.3148739417059646 where paramters is alpha =1, shuffle =nndsvda, init = False
This is the validation error0.312641034875848 where paramters is alpha =0.001, shuffle =random, init = True
This is the validation error0.31263783694478076 where paramters is alpha =0.001, shuffle =random, init = False
This is the validation error0.3126312201053659 where paramters is alpha =0.001, shuffle =nndsvd, init = True
This is the validation error0.31263080084550965 where paramters is alpha =0.001, shuffle =nndsvd, init = False
This is the validation error0.31263329891234026 where paramters is alpha =0.001, shuffle =nndsvda, init = True
This is the validation error0.3126333264637209 where paramters is alpha =0.001, shuffle =nndsvda, init = False
This is the validation error0.31263956509923363 where paramters is alpha =0.01, shuffle =random, init = True
This is the validation error0.31263602272884583 where paramters is alpha =0.01, shuffle =random, init = False
This is the validation error0.31262940855573323 where paramters is alpha =0.01, shuffle =nndsvd, init = True
This is the validation error0.31262908330480815 where paramters is alpha =0.01, shuffle =nndsvd, init = False
This is the validation error0.3126268669623687 where paramters is alpha =0.01, shuffle =nndsvda, init = True
This is the validation error0.31263140864010747 where paramters is alpha =0.01, shuffle =nndsvda, init = False
This is the validation error0.3124484325926204 where paramters is alpha =1, shuffle =random, init = True
This is the validation error0.3124390818303219 where paramters is alpha =1, shuffle =random, init = False
This is the validation error0.3124407199946603 where paramters is alpha =1, shuffle =nndsvd, init = True
This is the validation error0.31244563858592495 where paramters is alpha =1, shuffle =nndsvd, init = False
This is the validation error0.31243066095590116 where paramters is alpha =1, shuffle =nndsvda, init = True
This is the validation error0.31244048469532343 where paramters is alpha =1, shuffle =nndsvda, init = False

<b> This next cell is for getting the best prdiction matrix corresopnding to the smallest error </b>

In [234]:
# first call the recommender system by the best paramters
min_error = 1000 
for key, value in dic_prediction.items():
    #print(key)
    if key < min_error:
        min_error = key
        print(key)
        prediction = value
        
# now we have the best prediction we test on the test_files

0.22896211992525906

<b> The next cell is used for testing using the best prediction</b><br>
1. exactly the same way i tested Exercise 2 <br>
2. The test value for each test_file is printed and the average rmse is also printed under the next cell<br>

In [243]:
Test = pd.read_csv('ml-100k/u1.test',sep='\t',header = None,names =['user_id','item_id','rating','timestamp'] )
Test.head()
error_dic ={}
for  i in range(1,6):
    file = ""
    if i == 1:
        file = 'ml-100k/u1.test'
    if i == 2:
        file = 'ml-100k/u2.test'
    if i ==3:
        file = 'ml-100k/u3.test'
    if i==4:
        file = 'ml-100k/u4.test'
    if i ==5:
        file = 'ml-100k/u5.test'
    Test = pd.read_csv(file,sep='\t',header = None,names =['user_id','item_id','rating','timestamp'] )
    count = 0 
    error = 0
    for index, row in Test.iterrows():
        predicted_rating = prediction[row['user_id']-1][row['item_id']-1]
        Actual_rating =   row['rating']
        error = error + (predicted_rating - Actual_rating)**2
        count = count +1
    error = np.sqrt(error/count)
    error_dic[i] = error  
    print("error for Test_file {} is{}".format(i,error) )

error for Test_file 1 is3.5158608496722183
error for Test_file 2 is3.158947271188114
error for Test_file 3 is2.931451179230123
error for Test_file 4 is2.8316766741208994
error for Test_file 5 is2.8138654213587224

<b>TotaL_Error_rmse is printed under the next cell <b>

In [245]:
Total_error = 0
for key, value in error_dic.items():
        Total_error = Total_error + error_dic[key]
print ("RMSE_TEST_ERROR IS{}".format(Total_error/5) )

RMSE_TEST_ERROR IS3.0503602791140154

<b>It can be seen that using that Rmse of the model using sklearn is better than than the model implmented in Exercise 2<b>